html,body{
  margin:0;
  height: 100%;
}
h1{
  padding: 30px;
}
table{
  border-collapse: collapse;
  margin-left: 10px;
}
th,td{
  padding: 4px 10px 2px 10px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
input[type="submit"]:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
footer{
  background: #f3f3f3;
}
#copyright{
  color: #999;
  text-align: center;
}
